.add {
  color: #c30008;
  width: 60%;
  background-color: #f3f3f3;
  font-weight: bold;
  margin: 1% 0% 1% 0%;
  border: 2px solid #7f7f7f;
  padding: 6px;
  border-radius: 3px;
}

.save {
  color: white;
  width: 60%;
  background-color: #bf0000;
  font-weight: bold;
  margin: 0% 0% 1% 0%;
  border: 2px solid #7f7f7f;
  padding: 6px;
  border-radius: 3px;
}

.main {
  margin: 3% 20% 1% 20%;
  background-color: white;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px 20px 20px;
  text-align: left;
  border-radius: 3px;
}

.label {
  font-weight: bold;
  font-family: "Calibri";
}

.text {
  border: 2px solid #d3d3d3;
  padding: 10px;
  width: auto;
  border-radius: 4px;
  margin: 5px 0 5px 0;
  width: 95%;
}

.text:focus {
  border: 2px solid #ae0000;
}

.answer {
  //background-color: #f3f3f3;
}

.select {
  border: 2px solid #d3d3d3;
  padding: 8px;
  width: auto;
  border-radius: 4px;
  margin: 5px 0 5px 0;
  color: #7f7f7f;
  background-color: transparent;
}

.select:focus {
  border: 2px solid #ae0000;
}
