.main {
  margin: 0% 20% 1% 20%;
  background-color: white;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 20px 20px 20px;
  text-align: left;
  border-radius: 3px;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}
.del {
  margin-right: 3%;
  margin-top: 1%;
  height: 12px;
  width: 7px;
  border: none;
  background-color: transparent;
}
.label {
  font-weight: bold;
  font-family: "Calibri";
}

.text {
  border: 2px solid #d3d3d3;
  padding: 10px;
  width: auto;
  border-radius: 4px;
  margin: 5px 0 5px 0;
  width: 95%;
  background-color: #f3f3f3;
  color: #7f7f7f;
}

.select {
  border: 2px solid #d3d3d3;
  padding: 8px;
  width: auto;
  border-radius: 4px;
  margin: 5px 0 5px 0;
  color: #7f7f7f;
  background-color: #f3f3f3;
}
